!!!
%html
  %head
    %title
      X32
    %link{href: "assets/css/application.css", rel: "stylesheet", media: "screen"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    =yield

    %script{src: "/assets/js/jquery-2.0.3.min.js"}
    %script{src: "/assets/js/application.js"}
